/*CLASSI UTILITY*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.justify-center{
    justify-content: center;
}

.justify-evenly{
    justify-content:space-evenly;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.orange{
    background-color: orange !important;
}
.container{
    background-color: lightcoral;
    width:100%;
    height:1000px;
    display: flex;
}

.calculator{
    background-color: silver;
    width:300px;
    height:450px;
    border-radius: 10px;
}

.logo{
    width:100%;
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-family: sans-serif;
    font-size: 1.8em;
}

.display{
    background-color: black;
    color:turquoise;
    width:100%;
    height:20%;
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 2em;
    padding-right:15px;
}

.buttons{
    display:flex;
    flex-direction: row;
    height:60%;
}

.numbers{
    width: 80%;
    display:flex;
    flex-direction: column;
    

}

.functions{
    width:20%;
    display: flex;
    flex-direction: column;
}

.digits{
    display: flex;
    flex-direction: row;
}

.regular-button{
    line-height: 55px;
    text-align: center;
    border-radius: 5px;
    width:65px;
    height:55px;
    background-color: bisque;
    border-bottom:3px solid darkgray;
    border-left:3px solid darkgray;
}

.double-button{
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    width:140px;
    height:55px;
    background-color: bisque;
    border-bottom:3px solid darkgray;
    border-left:3px solid darkgray;
}

.small-button{
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    width:45px;
    height:40px;
    background-color: skyblue;
    border-bottom:3px solid darkgray;
    border-left:3px solid darkgray;
}